.cont-payment {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    min-height: 100vh;
    background: #1E1E1E;
    padding: 0 0 20px 0;
    color: #fff;
    font-family: "Outfit", sans-serif;
}

.card-payment{
    background: #8d8d8d3d;
    width: 750px;
    height: 450px;
    border-radius: 15px;
    padding: 15px;
}

.card-payment h1{
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    color: #fff;
}

.card-payment h2{
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
}

.card-payment p{
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #ffa644;
}

.card-value{
    background: #8d8d8d3d;
    width: 450px;
    height: 450px;
    border-radius: 15px;
    padding: 15px;
}

.card-value h1{
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    color: #fff;
}

.card-value h2{
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
}

.card-value p{
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #ffa644;
}

.card-value label{
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    color: #c9c9c9;
}

.payment-cartao{
    border: 1px solid #ffa644;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.payment-boleto{
    border: 1px solid #ffa644;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
}
select{
    min-height: 40px;
    border: none;
    border-radius: 3px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    padding: 5px;
}

.cont-btn{
    display: flex;
    justify-content: end;
    width: 100%;
}

.btn-resumo{
    width: 200px;
}

.message{
    color: #000000;
    background: #d3b119;
    width: 550px;
    border-radius: 5px;
    min-height: 50px;
    padding: 5px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
