.cont-resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    min-height: 100vh;
    background: #1E1E1E;
    padding: 0 0 20px 0;
    color: #fff;
    font-family: "Outfit", sans-serif;
}
h1{
    margin: 25px 0 10px 0 !important;
}

.products{
    background: #8d8d8d3d;
    color: #fff;
    border-radius: 10px;
    width: 700px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.products p{
    font-size: 1rem;
    font-weight: 400;
}
.products .quant{
    padding: 5px;
    min-width: 20px;
    height: 30px;
    display: flex;
    background: #6f6f6f;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    font-weight: 500 !important;
}

.cont-img{
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products img{
    height: 150px;
}

.value{
    background: #8d8d8d3d;
    width: 500px;
    min-height: 250px;
    border-radius: 15px;
    padding: 15px;
}

.value h1{
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    text-align: center;
    margin: 0;
    color: #fff;
}

.value h2{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    margin: 15px 0 !important;
}

.value p{
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #ffa644;
    margin: 15px 0 !important;
}

.value label{
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    color: #c9c9c9;
}

.delivery{
    background: #8d8d8d3d;
    width: 500px;
    min-height: 250px;
    border-radius: 15px;
    padding: 15px;
}

.delivery h1{
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    text-align: center;
    margin: 0;
    color: #fff;
}

.delivery h2{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    margin: 15px 0 !important;
}

.delivery p{
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #ffa644;
    margin: 15px 0 !important;
}
.metodo-pagamento{
    padding: 7px;
    display: flex;
    background: #6f6f6f;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    font-weight: 400 !important;
}

.frete{
    background: #8d8d8d3d;
    width: 500px;
    min-height: 250px;
    border-radius: 15px;
    padding: 15px;
}

.frete h1{
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    text-align: center;
    margin: 0;
    color: #fff;
}

.frete h2{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    margin: 15px 0 !important;
}

.frete p{
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #ffa644;
    margin: 15px 0 !important;
}
.cont-data h2{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}
.cont-data p{
    font-family: "Outfit", sans-serif;
    font-weight: 200;
    font-size: 1rem;
}
.cont-status h2{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}