.modal-edit{
    border-radius: 15px;
    background: #FFFF;
    max-width: 800px;
    min-height: 500px;
    padding: 20px;
}

.p-dialog .p-dialog-header{
    font-family: "Outfit", sans-serif;
    color: #440C0C;
    text-align: center;
}
.p-dialog .p-dialog-header .p-dialog-title{
    font-weight: 500;
    font-size: 2rem;
}

.modal-edit label{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
    color: #6C6C6C;
}

.modal-edit .select-group{
    width: 630px;
}

.modal-edit .cont-btns{
    float: right;
    margin-right: 40px;
}

.modal-edit .btn-cancelar{
    background: #b44545;
    border: none;
    width: 100px;
    height: 45px;
}
.modal-edit .btn-cancelar:hover{
    background: #8f3636;
}
.modal-edit .btn-salvar{
    background: #1d689b;
    border: none;
    width: 100px;
    height: 45px;
}
.modal-edit .btn-salvar:hover{
    background: #17557e;
}

