.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #E5E5E5;
}
.cont .card-login {
    max-width: 500px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: none;
    padding: 30px;
    margin: 30px 20px 30px 20px;
}
.cont .card-login .card-login-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.cont .card-login .card-login-header h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    color: #440C0C;
}
.cont .card-login .card-login-header p {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    color: #6C6C6C;
}
.cont .card-login .card-login-body label{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
    color: #6C6C6C;
}
.p-card .p-card-body{
    padding: 0;
}
.p-card .p-card-content{
    padding: 0;
}
input{
    width: 300px;
}
.btn-login{
    float: right;
    width: 300px;
    height: 45px;
    font-family: "Outfit", sans-serif;
    background: #440C0C;
    transition: 0.3s;
    border: none;
    box-shadow: 0 20px 30px -6px #440c0c98;
}
.btn-login:hover{
    transform: translateY(2px);
    box-shadow: none;
}
.text-danger{
    color: #ff3333cc;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}
.cont-cadastro a{
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #1c4dd4;
}
.cont-cadastro {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
}

@media (max-width: 400px) {
    input{
        width: 250px;
    }
    .btn-login{
        width: 250px;
    }
}