.cont-carrinho {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #1E1E1E;
    padding: 0 0 20px 0;
}
.cont-carrinho h1{
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    color: #fff;
}
.cont-carrinho h2{
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
}
.cont-carrinho p{
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
}
.card-product{
    background: #8d8d8d3d;
    color: #fff;
    border-radius: 10px;
    width: 700px;
}
.cont-counter button{
    background: #8d8d8d3d;
    border: none;
    width: 30px;
    height: 35px;
}
.cont-card{
    display: flex;
    justify-content: space-between;
}
.cont-card img{
    height: 150px;
}
.cont-img{
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-itens{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card-total{
    min-height: 300px;
    background: #8d8d8d3d;
    color: #fff;
    border-radius: 10px;
    width: 500px;
}
.card-total i,h2,h3,p{
    margin: 15px 0;
}
.card-frete{
    min-height: 100px;
    background: #8d8d8d3d;
    color: #fff;
    border-radius: 10px;
    width: 500px;
}
.card-frete i,h2,h3,p{
    margin: 15px 0;
}
.cont-mensagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-top: 20vh;
}
.cont-mensagem p{
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

.message-frete{
    color: #000000;
    background: #d3b119;
    width: 550px;
    border-radius: 5px;
    min-height: 50px;
    padding: 5px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.p-card .p-card-body{
    padding: 1rem !important;
}
.p-card .p-card-content{
    padding: 1rem 0;
}
  