.productImage, .imgArea{
    object-fit: contain;
    width: 100%;
    aspect-ratio: 1/1;
}

.imgArea{
    width: 100%;
    aspect-ratio: 2/1;
}

img{
    height: 160px;
}


.divCard{
    position: relative;
    min-height: 320px;
    width: 300px;
    background-color: #252222;
    color: white;
    border-radius: 8px;
    align-items: center;
    font-family: "Outfit", sans-serif;
}

.disable{
    display: none;
}
.btnDetalhes{
    height: 35px;
    width: 110px;
}

.p-button .p-button-label{
    margin-right: 5px !important;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
}

.nameProduct{
    font-size: 1rem;
    font-weight: 400;
}

.priceProduct{
    font-size: 1rem;
    font-weight: 300;
    color: #31ff0094;
}