.cont-backoffice {
    display: flex;
    width: 100%;
    height: calc(100vh - 60px) !important;
}
.card-backoffice{
    width: 100%;
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-backoffice h1{
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    color: #440C0C;
}