.cont{
    display: flex;
    width: 100%;
    height: 100vh;
}
.card-backoffice{
    height: 100vh;
    width: 100%;
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-backoffice h1{
    margin: 0;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 2rem;
}
.sidebar{
    background: #FFFF;
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
span{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
.name-user{
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
}
.avatar-user{
    background: #2196F3;
    color: #fff;
    width: 40px;
    height: 40px;
}
.btn-logout{
    background: #808080;
    border: none;
}
.btn-logout:hover{
    background: #535353;
}