.cont-pedidos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  min-height: 100vh;
  background: #1E1E1E;
  padding: 0 0 20px 0;
  color: #fff;
  font-family: "Outfit", sans-serif;
}
.cont-pedidos h1 {
  text-align: center;
}

.card-pedidos{
  background: #8d8d8d3d;
  color: #fff;
  border-radius: 10px;
  width: 700px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.card-pedidos h2{
  font-size: 1.1rem;
  font-weight: 400;

}

.card-pedidos p{
  font-size: 0.9rem;
  font-weight: 300;
  color: #c5c5c5;
}
.card-pedidos .quant{
  padding: 5px;
  min-width: 20px;
  height: 30px;
  display: flex;
  background: #6f6f6f;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: #fff !important;
  font-weight: 500 !important;
}

.card-pedidos-img{
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pedidos img{
  height: 150px;
}
.btn-detalhes{
  width: 100px;
  background: #065fc5;
  border: #065fc5;
}
.cont-mensagem{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin-top: 20vh;
}
.cont-mensagem p{
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}
.title{
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  color: #fff;
}
