.cont-list-products{
    max-width: 1500px;
}
.card-list-products{
    width: 100%;
    min-height: calc(100vh - 50px);
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-list-products h1{
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    color: #440C0C;
}
.p-paginator{
    padding: 0;
    height: 50px;
    background: #E5E5E5;
}
.p-datatable .p-datatable-thead > tr > th{
    width:250px;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}
.table-products{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
.status-ativo{
    color: green;
}
.status-inativo{
    color: red;
}
.btn-new-products{
    background: #00A124;
    border: none;
    height: 45px;
}