.view-a-product{
    width: 100%;
    min-height: 100vh;
    box-shadow: none;
}

.view-a-product .cont-product{
    background: #1E1E1E;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    font-family: "Outfit", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view-a-product .cont-product .product{
    max-width: 700px;
}

.view-a-product .cont-product img{
    height: 250px;
}

.view-a-product .cont-product label{
    font-size: 1.5rem;
    font-weight: 500;
    color: #FFFF;
}

.view-a-product .cont-product .product .price{
    font-size: 2rem;
    font-weight: 500;
    color: #FFFF;
}

.view-a-product .cont-product h2{
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff;
}

.view-a-product .cont-product p{
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff98;
}

.view-a-product .cont-product .btn-comprar{
    background: #40a13f;
    border-color: #40a13f;
    border-radius: 13px;
    position: revert-layer;
    width: 125px;
    height: 40px;
    transition: .4s;
}
.btn-comprar:hover{
    background: #2b6d2a !important;
    border-color: #2b6d2a !important;
}
.view-a-product .cont-product .btn-adicionar{
    background: #1c4aad;
    border-color: #1c4aad;
    border-radius: 13px;
    position: revert-layer;
    width: 200px;
    height: 40px;
    transition: .4s;
}
.btn-adicionar:hover{
    background: #173d8f !important;
    border-color: #173d8f !important;
}
.p-carousel-item{
    display: flex;
    justify-content: center;
}

.p-dialog .p-dialog-content{
    padding: 0 !important;
}

.headerProduct{
    display: none;
}
