@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input:focus {
    outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.p-inputtext:enabled:focus {
    border-color: #440C0C;
}

.p-inputtext:enabled:hover {
    border-color: #440C0C;
}