@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

*{
    margin: 0;
}
body{
    background-color: #1E1E1E;
}
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

*{
    margin: 0;
}
body{
    background-color: #1E1E1E;
}
.cont-backoffice {
    display: flex;
    width: 100%;
    
    
}
.banner{
    width: 100%;
    padding: 1rem 1.5rem;
    height: 400px;
    position: relative;
}

@font-face {
    font-family: "Pinyon Script", cursive;
    src: local("Pinyon Script");
    padding: 1rem 1.5rem;
    height: 400px;
    position: relative;
}

@font-face {
    font-family: "Pinyon Script", cursive;
    src: local("Pinyon Script");
}
.Drink, .Wine{
    position: absolute;
    font-size: 6.5rem;
    font-family: "Pinyon Script", cursive;
    font-weight:lighter;
    color: #fc9c37;
}

h1 strong{
    color: #fc9c37;
    font-weight: 400;
    font-size: 9rem;
}

.Drink{
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.Wine{
    top: 70%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.bannerLogo{
    width: 100%;
    height: 100%;
    object-fit: cover;   
    border-radius: 8px;
    opacity: 0.6;
}