.header{
    height: 60px;
    background: #440C0C;
    color: #FFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 1rem;
}
.header img{
    height: 50px;
}

.divHeader{
    gap: .5rem;
}

ul{
    list-style: none;
}
.header ul li label{
    font-size: 1rem;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
}

a{
    color:white;
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    font-family: "Outfit", sans-serif;
}

.divHeader i{
    margin-right: 7px;
    font-size: 1.2rem !important;
}
.message-dialog{
    font-size: 1.1rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}
.p-button .p-button-label{
    font-weight: 500 !important;
}


