.view-a-product{
    max-width: 700px;
    min-height: 500px;
    box-shadow: none;
}

.view-a-product .cont-product{
    background: #1E1E1E;
    max-width: 500px;
    min-height: 500px;
    border-radius: 10px;
    padding: 20px;
    font-family: "Outfit", sans-serif;
}

.view-a-product .cont-product img{
    height: 250px;
}

.view-a-product .cont-product label{
    font-size: 1.5rem;
    font-weight: 500;
    color: #FFFF;
}

.view-a-product .cont-product h2{
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff;
}

.view-a-product .cont-product p{
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff98;
}

.view-a-product .cont-product .btn-comprar{
    background: #51CF4F;
    border-color: #51CF4F;
    border-radius: 13px;
}

.p-carousel-item{
    display: flex;
    justify-content: center;
}